* {
  box-sizing: border-box;
}

.contact-list {
  background-color: #cfe1e7;
  padding: 5px;
  border-radius: 10px;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 0 15px #446d8059;
  padding: 20px;
  margin: 15px;
  width: 34vh;
  display: flex;
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #6995a959;
}

.info {
  margin-left: 20px;
  flex: 1;
}

.info p {
  font-size: 22px;
}

.buttons {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: auto;
}

.call,
.message {
  width: 30px;
}

.buttons .call:focus,
.buttons .call:hover,
.buttons .message:focus,
.buttons .message:hover {
  transform: scale(1.3);
}

div {
  cursor: grab;
}

.photo {
  border: #8fcee2 3px;
  border-style: solid;
}
